a:visited {
  color: inherit;
}

.outer-wrapper {
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
}

.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.navigation {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  background: #fff;
  box-shadow: 0 1px 9px #ccc;
  left: 0;
  right: 0;
  z-index: 3;
  opacity: .9;
}

.navigation ul {
  padding: 0;
  display: flex;
  align-items: center;
}

.navigation ul li {
  list-style-type: none;
}

.home-top-section {

}

.home-top-section h1 {
  margin-top: 20%;
  margin-bottom: 35%;
}

.home-top-section p {
  font-size: 3rem;
}

.showcase-box {
  text-align: center;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.showcase-box img {
  max-width: 45rem;
  margin-bottom: -.3rem;
}

.showcase-box h2 {
  padding: 4rem 0;
  margin: 0;
  font-size: 3rem;
}

.cover-links {
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  height: auto;
  margin: auto;
  color: #fff;
  z-index: 2;
  font-size: 1.5rem;
}

.cover-links:last-child {
  margin-top: 4rem;
}

.showcase-box .cover {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  z-index: 1;
  opacity: .7;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.showcase-box:hover .cover {
  display: block;
}

.showcase-box .cover-links {
  display: none;
}

.showcase-box:hover .cover-links {
  display: block;
}

.home-su-box {
  background-color: #72A2BA;
}

.home-wh-box {
  background-color: #73ADA1;
}

.home-anni-box {
  background-color: #72A2BA;
}

.home-ci-box {
  background-color: #F9E399;
}

.dev-header-home {
  margin-top: 15rem;
  font-size: 3rem;
}

.home-about-wrapper {
  margin: 4rem auto;
}

.about-section-spacer {
  text-align: left;
  max-width: 65%;
  margin: 2rem auto;
  display: flex;
  align-items: baseline;
}

.about-section-spacer h3 {
  width: 100%;
  min-width: 8rem;
  margin-right: 2rem;
}

.su-wrapper , .wh-wrapper {
  text-align: left;
}

.text-spacer {
  width: 70%;
  margin: 0 auto 0 7rem;
}

.process-page-header {
  margin-top: 12rem;
}

.su-page-box , .su-layout-box , .su-main-box {
  background-color: #72A2BA;
}

.wh-page-box , .wh-main-box {
  background-color: #73ADA1;
}

.su-page-box {
  padding-top: 4rem;
}

.su-page-box img {
  width: 40%;
}

.su-page-box img:first-child {
  margin-left: -1rem;
  margin-right: 1rem;
}

.su-layout-box {
  padding-top: 4rem;
}

.su-layout-box a {
  display: block;
  margin: 4rem 0 2rem;
}

.su-layout-box a {
  margin: 4rem auto 2rem;
  width: fit-content;
  width: -moz-fit-content;
  display: table;
}

.site-wrapper-link {
  text-decoration: none;
  color: #fff;
}






.featherlight .featherlight-content {
  margin: auto;
}

.featherlight .featherlight-inner {
    max-height: inherit;
    max-width: inherit;
    margin: auto;
}

.footer {
  padding: 1rem 2rem;
  background: #fff;
}

.footer ul {
  padding: 0;
  display: flex;
  align-items: center;
}

.footer ul li {
  list-style-type: none;
}
