.outer-wrapper {
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
}

.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.navigation {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  background: #fff;
  box-shadow: 0 1px 9px #ccc;
  left: 0;
  right: 0;
  z-index: 2;
}

.navigation ul {
  padding: 0;
  display: flex;
  align-items: center;
}

.navigation ul li {
  list-style-type: none;
}

.home-top-section {

}

.home-top-section h1 {
  margin-top: 20%;
  margin-bottom: 35%;
}

.home-top-section p {
  font-size: 3rem;
}

.showcase-box-link {
  text-decoration: none;
}

.showcase-box-link:hover {
  text-decoration: none;
}

.showcase-box {
  text-align: center;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.showcase-box img {
  max-width: 45rem;
  margin-bottom: -.3rem;
}

.showcase-box h2 {
  padding: 4rem 0;
  margin: 0;
  font-size: 3rem;
}

.cover-links {
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  height: auto;
  margin: auto;
  color: #fff;
}

.showcase-box .cover {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  padding: 100%;
  z-index: 1;
  opacity: .4;
}

.showcase-box .cover:hover {
  background: black;
}

.home-su-box {
  background-color: #72A2BA;
}

.home-wh-box {
  background-color: #73ADA1;
}

.home-anni-box {
  background-color: #72A2BA;
}

.home-ci-box {
  background-color: #F9E399;
}

.dev-header-home {
  margin-top: 15rem;
  font-size: 3rem;
}

.home-about-wrapper {
  margin: 4rem auto;
}

.about-section-spacer {
  text-align: left;
  max-width: 65%;
  margin: 2rem auto;
  display: flex;
  align-items: baseline;
}

.about-section-spacer h3 {
  width: 100%;
  min-width: 8rem;
  margin-right: 2rem;
}

.su-wrapper , .wh-wrapper {
  text-align: left;
}

.process-page-header {
  margin-top: 5rem;
}

.su-page-box , .su-layout-box , .su-main-box {
  background-color: #72A2BA;
}

.wh-page-box , .wh-main-box {
  background-color: #73ADA1;
}
