.outer-wrapper {
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
}

.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.navigation ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation ul li {
  list-style-type: none;
}

.home-top-section {

}

.home-top-section h1 {
  margin-top: 20%;
  margin-bottom: 35%;
}

.home-top-section p {
  font-size: 3rem;
}

.showcase-box {
  text-align: center;
  padding-top: 1rem;
  color: #fff;
}

.home-su-box {
  background-color: #72A2BA;
}

.home-wh-box {
  background-color: #73ADA1;
}

.home-anni-box {
  background-color: #72A2BA;
}

.home-ci-box {
  background-color: #F9E399;
}

.dev-header-home {
  margin-top: 3rem;
}

.about-section-spacer {
  text-align: left;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.about-section-spacer h3 {
  width: 100%;
}
