body {
  background-image: url(/portfolio/madison.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.outer-wrapper {
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.navigation {
  position: fixed;
  left: 3rem;
  top: 2rem;
  margin: -.5rem 0 0;
  z-index: 100;
}

.navigation ul {
  padding: 0;
  list-style-type: none;
}

.navigation li {
  padding: .6rem 0;
}

.navigation a:visited {
  color: #fff;
}

.navigation a {
  color: #fff;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.home-section {
  margin-bottom: 40rem;
  position: relative;
  padding-top: 23%;
}

h1 {
  text-transform: uppercase;
}

h2 {
  margin-top: 20%;
  font-size: 2rem;
  margin-bottom: 0;
}

.scroll {
  margin-top: 3rem;
  letter-spacing: 1.2rem;
  padding-left: 1.4rem;
  text-transform: uppercase;
  opacity: 0;
}

.arrow {
  position: absolute;
  padding: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -16rem;
  opacity: .2;
  z-index: -1;
  opacity: 0;
  -webkit-animation: pulse 6s infinite;
  animation: pulse 6s infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.05;
    }
    50% {
        opacity: 0.3;
    }
}

.music-section {
  position: relative;
  margin-bottom: 40rem;
  padding: 6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album {
  max-width: 35rem;
  box-shadow: 5px 5px 13px -1px black;
}

.spotify-test {
  background: grey;
  padding: 9.5rem 12rem;
  margin-left: 3rem;
}

.music-section .cover {
  background-color: #fff;
  opacity: .3;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.about-section {
  position: relative;
  margin-bottom: 0;
  padding: 20rem 1rem;
}

.about-section .cover {
  background-color: #000;
  opacity: .5;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.about-section p {
  width: 20rem;
  margin: 0 auto;
}

.logo {
  bottom: 0;
  max-width: 10rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
